/* Write your CSS here */
.repo-item {
  width: 40%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.star-img,.forks-img,.issues-img{
  width: 15px;
  height: 15px;
}